@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="page-heading about-heading header-text">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12">
                <div class="text-content">
                    <h4>about us</h4>
                    <h2>our company</h2>
                </div>
            </div>

        </div>
    </div>
</div> <!--page heading ends-->
<!--Our Background-->
<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our Background</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image" id="aboutLogo">
                    <img src="~/images/about-us/logo_big.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="left-content">
                    <h4 style="padding-bottom: 10px;">Who we are &amp; What we do?</h4>
                    <p>
                        Founded on October 27th, 2017 by young entrepreneur Farhan Chowdhury Mahir, ZuperMart has come a long way.
                        <br><br>
                        The owner Farhan himself is a fashion enthusiast.
                        All the clothing, accessories are handpicked and designed to
                        always suit the current trend. In your busy lives, keeping you
                        effortlessly stylish is our mission.
                        You don’t need to go to various shops, you will find all your
                        needs here. Shirts, T-shirts, Pants, Shoes, Accessories and more.
                        <br><br>
                        Unlike any other, we are always following our customer needs and
                        keeping track of their satisfaction through the large community we
                        have built.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--our background ends-->
<!--Founder-->
<div class="best-features about-features" id="founder">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Founder</h2>
                </div>
            </div>
            <div class=" col-xl-6 col-lg-12">
                <div class="right-image">
                    <img src="~/images/about-us/farhan-small.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="left-content" id="founderText">
                    <h4 style="padding-bottom: 10px;">Farhan Chowdhury Mahir</h4>
                    <p>
                        A fashion enthusiast himself who always dreamt about being in the fashion industry.
                        From a young age did modelling for various brands and developed a kin sense of
                        fashion himself. And at a young age of 19, he opened the shop he always dreamt
                        about which reflected sharp and trendy fashion sense that he has.
                        <br><br>
                        ZuperMart is not just a store, it’s the passion of someone who loves fashion.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--founder ends-->
<!--Parteners-->
<div class="partners">
    <div class="container">
        <div class="col-md-12">
            <div class="section-heading">
                <h2>Happy Partners</h2>
            </div>
        </div>

        <div class="client-item col-md-3">
            <img src="~/images/about-us/partner-1.png" alt="1">
        </div>

        <div class="client-item col-md-3">
            <img src="~/images/about-us/partner-1.png" alt="2">
        </div>

        <div class="client-item col-md-3">
            <img src="~/images/about-us/partner-1.png" alt="3">
        </div>

        <div class="client-item col-md-3">
            <img src="~/images/about-us/partner-1.png" alt="4">
        </div>

        <div class="client-item col-md-3">
            <img src="~/images/about-us/partner-1.png" alt="5">
        </div>

    </div>
</div>

<!--partners ends-->
<!--page content ends-->
