
@{
    ViewBag.Title = "ExclusiveProducts";
}
<!--Page Content-->
<!--Banner-->
<div class="container-fluid p-0 pb-1 col-lg-12" id="exclBanner">
    <div class="bannerText ">
        <textbox>Exclusive</textbox>
    </div>

    <img src="~/images/exclusive/bg.jpg"> <!--img from pngtree.com-->
</div>
<!--Banner ends-->
<!--cards Exclusive products-->
<div class="container text-center" id="cards">
    <div class="row justify-content-center" id="card-id">

        <div class="section-heading">
            <h2>Exclusive Products</h2>
        </div>

        <div class="col-lg-4 col-md-6 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/images/exclusive/mask-adidas-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/exclusive/cap-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/exclusive/premium tshirt-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/exclusive/premium shirt-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/exclusive/premium jeans-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/exclusive/silk shirt-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>


    </div> <!--Row div end-->
</div> <!--cards container div end-->
<!--cards end here-->
<!--cards: On Sale products-->
<div class="container text-center" id="cards">
    <div class="row justify-content-center" id="card-id">

        <div class="section-heading">
            <h2>On Sale</h2>
        </div>

        <div class="col-lg-4 col-md-6 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (1).jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title" id="discount">20%</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (2).jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title" id="discount">20%</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (3).jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title" id="discount">20%</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (4).jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title" id="discount">20%</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (5).jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title" id="discount">20%</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (6).jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title" id="discount">20%</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="index.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>


    </div> <!--Row div end-->
</div> <!--cards container div end-->
<!--cards end here-->
<!--Page Content ends here-->
