
@{
    ViewBag.Title = "Products";
}

<!--Page Content-->
<!--Product page Navbar-->
<nav class="navbar navbar-expand-sm navbar-light bg-dark" id="productsNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto m-2 mb-lg-0">
                <li class="nav-item dropend text-white">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!--Product page Navbar ends-->
<!--cards-->
<div class="container text-center" id="cards">
    <div class="row justify-content-center" id="card-id">

        <div class="col-lg-4 col-md-6 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/casual-shirt-1 (0).jpg" class="card-img-top" alt="...">
                <img src="~/~/images/products/casual-shirt-1 (0).jpg" />
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="product-preview.html" class="stretched-link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/casual-shirt-2 (0).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (3).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (4).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (5).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/prd (6).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BDT 1690</h5>
                    <p class="card-text">Casual Shirt</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>


    </div> <!--Row div end-->
</div> <!--cards container div end-->
<!--cards end here-->
<!--Page Content ends here-->
<!--pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center m-5">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item "><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<!--pagination end-->
