
@{
    ViewBag.Title = "ProductPreview";
}

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <!--main image-->
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="~/images/product-preview/casual-shirt-1 (0).jpg" alt="Card image cap"
                         id="product-detail">
                </div>

               
            </div>
            <!-- col end -->
            <!--description here-->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <!--using breadcrumb to show where we are...cool-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="products.html">Our Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Casual Shirt</li>
                            </ol>
                        </nav>

                        <h1 class="h2">Men's Casual Shirt</h1>
                        <p class="h3 py-2">৳ 1,695.00</p>
                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Brand:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>Yellow BD</strong></p>
                            </li>
                        </ul>
                        <br>
                        <h6>Description:</h6>
                        <p>
                            100% Cotton, Printed smart casual shirt for men.
                            NB: Depending on your computer or mobile screen resolution, product color may vary slightly.
                        </p>
                        <br>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Avaliable Color :</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>Black</strong></p>
                            </li>
                        </ul>

                        <h6>Specification:</h6>
                        <ul class="list-unstyled pb-3">
                            <li>Casual</li>
                            <li>half Sleeve</li>
                            <li>100% Cotton</li>
                            <li>Printed design</li>
                            <li>Hand/machine wash</li>
                            <li>Slim fit</li>

                        </ul>

                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">
                                            Size :
                                            <input type="hidden" name="product-size" id="product-size" value="S">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">L</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
                                    </ul>
                                </div>
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success disabled" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success disabled" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row pb-3">
                                <span class="col d-grid" tabindex="0" data-bs-toggle="tooltip" title="Online shopping is under construction">
                                    <button type="submit" disabled class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                </span>

                                <span class="col d-grid">
                                    <button type="submit" class="btn btn-outline-danger btn-lg" name="submit" value="addtocard">
                                        Add To Wishlist
                                    </button>
                                </span>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->


<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>Related Products</h4>
        </div>

        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner text-center pb-5">
                <div class="carousel-item active">
                    <!--card group-1-->
                    <div class="card-group">
                        <div class="card">
                            <img src="~/images/product_01.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="~/images/product_02.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="~/images/product_03.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                    <!--card group-1 ends here-->
                </div>
                <!--carousel item 1 ended here-->
                <div class="carousel-item">
                    <div class="card-group">
                        <div class="card">
                            <img src="~/images/product_04.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="~/images/product_05.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="~/images/product_06.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-group">
                        <div class="card">
                            <img src="~/images/product_01.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="~/images/product_02.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="~/images/product_03.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-danger">BDT 1690</h5>
                                <p class="card-text">Casual Shirt</p>
                                <a href="index.html" class="stretched-link" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--carousel ends here-->


    </div>
</section>

