
@{
    ViewBag.Title = "Team";
}

<!-- Page Content -->
<div class="page-heading about-heading header-text">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="text-content">
                    <h4>Meet</h4>
                    <h2>The team behind the website</h2>
                </div>
            </div>

        </div>
    </div>
</div> <!--page heading ends-->


<div class="team-members">
    <div class="team-member">
        <div class="card mb-5" style="max-width: 1024px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/teams/arman.jpg" class="img-fluid rounded-circle" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body p-5">
                        <h5 class="card-title">Arman Sakif Chowdhury</h5>
                        <p class="card-text"><h5 class="text-danger">180204054</h5></p><br>
                        <p class="card-text">
                            Tenacious, meets an obstacle he keeps at it.
                            Whatever grey matter he lacks in his brain he makes up for it with sheer hard work.
                            Stays calm under pressure, and a box of ideas.
                        </p>
                    </div>
                    <div class="teams-socials">
                        <ul class="social-icons m-sm-3">
                            <li><a href="https://www.facebook.com/arman.sakif" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://wa.me/8801521335337" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/arman-sakif-09/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/arman-sakif" target="_blank"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team-member"></div>
    <div class="card mb-5" style="max-width: 1024px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/teams/mustavi.jpg" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-5">
                    <h5 class="card-title">Mustavi Ibne Masum</h5>
                    <p class="card-text"><h5 class="text-danger">180204040</h5></p><br>
                    <p class="card-text">
                        Known for his energy, he’s always excited about his work.
                        Some people are lazy but genius, some are the opposite. But he’s the full package.
                        A genius who works hard. Gets a bit crazy under pressure,
                        but it only makes his processor run faster.
                    </p>
                </div>
                <div class="teams-socials">
                    <ul class="social-icons m-sm-3">
                        <li><a href="https://www.facebook.com/mustavi.sadim" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://wa.me/8801619333661" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                        <li>
                            <a href="https://www.linkedin.com/in/mustavi-ibne-masum-73abb4177/
                2" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://github.com/Mustavi-99" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--page content ends-->
