
@{
    ViewBag.Title = "Wishlist";
}
<link href="~/Content/css/wishlist.css" rel="stylesheet" />
<!-- Page Content -->

<div class="page-heading header-text">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Your</h4>
                    <h2>Wishlist</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!--page heading ends-->


<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table aa-wishlist-table">
                        <form action="..." method="post">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Stock Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="remove" href="#">
                                                    <fa class="fa fa-close"></fa>
                                                </a>
                                            </td>
                                            <td><a href="#"><img src="~/images/products/prd (1).jpg" alt="website template image"></a></td>
                                            <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                            <td>$250</td>
                                            <td>In Stock</td>
                                            <td><a href="#" class="aa-add-to-cart-btn">Add To Cart</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="remove" href="#">
                                                    <fa class="fa fa-close"></fa>
                                                </a>
                                            </td>
                                            <td><a href="#"><img src="~/images/products/prd (2).jpg" alt="website template image"></a></td>
                                            <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                            <td>$150</td>
                                            <td>In Stock</td>
                                            <td><a href="#" class="aa-add-to-cart-btn">Add To Cart</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="remove" href="#">
                                                    <fa class="fa fa-close"></fa>
                                                </a>
                                            </td>
                                            <td><a href="#"><img src="~/images/products/prd (3).jpg" alt="website template image"></a></td>
                                            <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                            <td>$50</td>
                                            <td>In Stock</td>
                                            <td><a href="#" class="aa-add-to-cart-btn">Add To Cart</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--page content ends-->
